.register{
    /*topbar:50px*/
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
    background-size: cover;
}
.registerTitle{
    font-size: 50px;
}
.registerForm{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.registerForm > label{
    margin: 10px 0;
}
.registerForm > input{
    padding-top: 10px;
    background-color: white;
    border: none;
}
.registerButton{
    margin-top: 20px;
    cursor: pointer;
    background: teal;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 10px;
}
.registerLoginButton{
    position: absolute;
    top: 60px;
    right: 20px;
    cursor: pointer;
    border: none;
    background: lightcoral;
    padding: 10px;
    color: white;
    border-radius: 10px;
}